## Articles folder ##
articles/*
!articles/.gitkeep

## Config ##
config.json

## Google/YouTube API Credentials ##
client_secrets.json
token.json

## IDE - PyCharm ##
.idea

## Misc files ##
.DS_Store
